<a href="/home"> Home page! </a>

<form action="/add_a_word" method="get">
  <label for="word_name"> Enter in a word to add </label>
  <input name="word_name" type="text" placeholder="input a word">
  <br>
  <label for="word_definition"> Enter in a definition to go with it </label>
  <input name="word_definition" type="text">
  <button type="submit" class="btn-success"> Save word</button>
</form>
